lightning_logs/
__pycache__/
*.arrow
.vscode/
notebooks/
dataset/
dropbox_uploader.sh
.dfc/
*.egg-info
dvd/datamodules/urls.py
result
scripts/
demos/
cos_sim_counter_fitting.npy
requirements.txt.save/
Geometric_attack/Old_code_in_case.ipynb
Geometric_attack/counter-fitted-vectors.txt
Geometric_attack/deepfool.py
Geometric_attack/greedy_attack.py
Geometric_attack/greedy_attack_cl.py
Geometric_attack/greedy_attack_cl_RMCL.py
Geometric_attack/greedy_attack_cl_RMCL_print.py
Geometric_attack/greedy_attack_with_comment.py
evaluation.py
models_weight/

