lightning_logs/
__pycache__/
*.arrow
.vscode/
notebooks/
dataset/
dropbox_uploader.sh
.dfc/
*.egg-info
dvd/datamodules/urls.py
result
scripts/
demos/
cos_sim_counter_fitting.npy
requirements.txt.save/
Geometric_attack/Old_code_in_case.ipynb
Geometric_attack/counter-fitted-vectors.txt
Geometric_attack/deepfool.py
Geometric_attack/greedy_attack.py
Geometric_attack/greedy_attack_cl.py
Geometric_attack/greedy_attack_cl_RMCL.py
Geometric_attack/greedy_attack_cl_RMCL_print.py
Geometric_attack/greedy_attack_with_comment.py
evaluation.py
models_weight/
README.md
TRAIN.md
EVAL.md
DATA.md
IMG_ATTACK_NLVR2.sh
SLURM/
TXT_ATTACK_NLVR2.sh
attacks_analysis/
old_code.py
vilt/modules/vilt_module_correct.py
.ipynb_checkpoints/
AUGMENT_MOCO.sh
attack/counter-fitted-vectors.txt
attack/greedy_attack_vilt_clean_14_07.py
augmentation/text_augmentation_40samples.py
pegasus_test.py
test_ViLT.ipynb
AUGM_ViLT_BarlowTwins.sh
Finetuning_NLVR2_New_BarlowTwins.sh
Finetuning_NLVR2_New_Moco.sh
Finetuning_NLVR2_New_Moco_aug.sh
GEOM_VIlT_BarlowTwins.sh
GEOM_VIlT_BarlowTwins_gpu7.sh
PGD_VIlT_BarlowTwins.sh
Pretraining_New_BarlowTwins.sh
Pretraining_New_BarlowTwins_tik7.sh
Pretraining_New_Moco.sh
Pretraining_New_Moco_aug.sh
Pretraining_New_Moco_tik7.sh
Robustness_NLVR2_New_BarlowTwins.sh
Robustness_NLVR2_New_Moco.sh
Robustness_NLVR2_New_Moco_aug.sh
requirements_tikgpu7.txt
EVALUATION/
Evaluation_IRTR.sh
Evaluation_IRTR_BarlowTwins.sh
Evaluation_IRTR_BarlowTwins_flick.sh
Evaluation_IRTR_Moco.sh
Evaluation_IRTR_Moco_flick.sh
Evaluation_IRTR_flick.sh
Evaluation_IRTR_test.sh
Evaluation_VQA.sh
Evaluation_VQA_BarlowTwins.sh
Evaluation_VQA_MoCo.sh	
Finetuning_IRTR.sh
Finetuning_IRTR_Flick_New_BarlowTwins.sh
Finetuning_IRTR_Flick_New_Moco.sh
Finetuning_IRTR_New_BarlowTwins.sh
Finetuning_IRTR_New_Moco.sh
Finetuning_IRTR_flick.sh
Finetuning_NLVR2.sh
Finetuning_VQA.sh
Finetuning_VQA_New_BarlowTwins.sh
Finetuning_VQA_New_Moco.sh
Flick/
Full_Pretraining_New_Moco_tik7.sh
GRID_SEARCH_1.sh
GRID_SEARCH_GEOM_1.sh
MCL_SLURM/
NO_AUGM_SLURM/
PRETRAINING/
Pretraining_New_BarlowTwin_aug.sh
ROBUSTNESS/
Robustness_BOTH_NLVR2.sh
Robustness_BOTH_NLVR2_New_BarlowTwins.sh
Robustness_BOTH_NLVR2_New_Moco.sh
Robustness_BOTH_VQA.sh
Robustness_BOTH_VQA_New_BarlowTwins.sh
Robustness_BOTH_VQA_New_Moco.sh
Robustness_GEOM_NLVR2.sh
Robustness_GEOM_NLVR2_New_BarlowTwins.sh
Robustness_GEOM_NLVR2_New_Moco.sh
Robustness_GEOM_VQA.sh
Robustness_GEOM_VQA_New_BarlowTwins.sh
Robustness_GEOM_VQA_New_Moco.sh
Robustness_PGD_NLVR2.sh
Robustness_PGD_NLVR2_New_BarlowTwins.sh
Robustness_PGD_NLVR2_New_Moco.sh
Robustness_PGD_VQA.sh
Robustness_PGD_VQA_New_BarlowTwins.sh
Robustness_PGD_VQA_New_Moco.sh
dataset_WILL-BE-REMOVED/
prepare_data_flick.py
prepare_data_vqa.py
pretraining_command.py
robustness_evaluation_command.py
run_2.py
run_3.py
run_32bits.py
run_4.py
run_grid_search.py
run_grid_search_geom.py
vilt/config_32bits.py
Evaluation_VQA_MoCo.sh
vilt/config_grid.py
attacks_analysis_vilt/
