# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learning\Robust-Multimodal-Contrastive-Learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
